@model BlogWebPage.Models.Entity.Posts
@{
    ViewBag.Title = "DetailedPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single-block-wrapper section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="single-post">
                        <div class="post-header mb-5 text-center">
                            <div class="meta-cat">
                                <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1"
                                   href="#"></a>
                            </div>
                            <h2 class="post-title mt-2">

                            </h2>

                            <div class="post-meta">
                                <span class="text-uppercase font-sm letter-spacing-1 mr-3"></span>
                                <span class="text-uppercase font-sm letter-spacing-1"></span>
                            </div>
                        </div>

                        <div class="post-body">
                            <div class="entry-content">
                                @Html.Raw(Model.MainText)
                            </div>
                        </div>
                </div>
                @Html.Action("Contact")
            </div>
        </div>
    </div>
</section>


